/* index.css or global.css */

/* Default Light Mode */
body {
  background-color: #ffffff; /* Light mode background */
  color: #111827; /* Light mode text color */
}

/* Dark Mode */
body.dark {
  background-color: #1f2937; /* Dark mode background (gray-800 in Tailwind) */
  color: #f9fafb; /* Dark mode text color */
}
